bin/Debug/net6.0/Net6ShCart.dll
bin/Debug/net6.0/Net6ShCart.pdb
bin/Debug/net6.0/ref/Net6ShCart.dll
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/Net6ShCart.assets.cache
obj/Debug/net6.0/Net6ShCart.csproj.AssemblyReference.cache
obj/Debug/net6.0/Net6ShCart.dll
obj/Debug/net6.0/Net6ShCart.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/project.razor.json
obj/Debug/net6.0/ref/Net6ShCart.dll
